<section data-ng-controller="IdentifiersController">
    <div class="col-md-6">
        <form class="form-horizontal" data-ng-submit="goToID(newIdentifier.type, newIdentifier.value)" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="value">Value</label>
                    <div class="controls">
                        <input type="text" autofocus data-ng-model="newIdentifier.value" data-ng-model="value" id="value" class="form-control" placeholder="Value" required>
                    </div>
                    <label class="control-label" for="type">Type</label>
                    <div class="controls">
                        <input type="text" data-ng-model="newIdentifier.type" id="type" class="form-control" placeholder="Type" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Go" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
