<nav class="navbar navbar-default navbar-fixed-top" data-ng-controller="HeaderController">
	<div class="container" role="navigation">
    <div class="navbar-header">
      <h1><a href="/#!/" data-ng-click="logoClicked()" class="navbar-brand">
      <span class="visible-inline-xs small glyphicon glyphicon-chevron-left" ui-route="/" data-ng-hide="$uiRoute"></span>
      Identifi</a></h1>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="" ui-route="/messages" ng-class="{active: $uiRoute}"><a data-ng-href="#!/messages"><span class="glyphicon glyphicon-globe"></span></a></li>
      <li class="" ui-route="/about" ng-class="{active: $uiRoute}"><a data-ng-href="#!/about"><span class="glyphicon glyphicon-info-sign"></span></a></li>
			<li data-ng-show="authentication.user" ui-route="/id/{{authentication.user.idType}}/{{authentication.user.idValue|encodeURIComponent}}" data-ng-class="{active: $uiRoute}">
				<a data-ng-href="#!/id/{{authentication.user.idType}}/{{authentication.user.idValue|escape}}">
					<span class="glyphicon glyphicon-user"></span> <span class="hidden-xs" data-ng-bind="authentication.user.displayName"></span>
				</a>
			</li>
      <li data-ng-show="authentication.user"><a href="/auth/signout" target="_self" data-ng-click="logout()" class="glyphicon glyphicon-log-out"></span></a></li>
      <li class="hidden-xs dropdown " data-ng-hide="authentication.user">
        <a href="#" class="dropdown-toggle login-button" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Log in <b class="caret"></b></a>
        <ul class="dropdown-menu login-menu">
          <li>
            <button data-ng-click="login()" id="email-login" class="btn btn-block btn-social btn-success">
              <i class="fa fa-envelope"></i> Email
            </button>
          </li>
          <li>
            <button onclick="window.location='/auth/facebook';" class="btn btn-block btn-social btn-facebook">
              <i class="fa fa-facebook"></i> Facebook
            </button>
          </li>
          <li>
            <button onclick="window.location='/auth/twitter';" class="btn btn-block btn-social btn-twitter">
              <i class="fa fa-twitter"></i> Twitter
            </button>
          </li>
          <li>
            <button onclick="window.location='/auth/google';" class="btn btn-block btn-social btn-google-plus">
              <i class="fa fa-google-plus"></i> Google
            </button>
          </li>
        </ul>
      </li>
      <li data-ng-hide="authentication.user" ui-route="/signin" ng-class="{active: $uiRoute}">
        <a href="#!/signin" class="visible-xs login-button" ><span class="glyphicon glyphicon-log-in"></span> Log in</b></a>
      </li>
    </ul>

    <form class="navbar-form navbar-left" data-ng-submit="addIdentifier()" id="nav-search" role="search" data-ng-if="isActive('/')">
      <div class="input-group">
        <input type="text" data-ng-keydown="searchKeydown($event)" data-ng-model="query.term" autocomplete="off" autofocus value="" id="nav-search-field" class="search-search form-control" placeholder="Search">
        <span class="input-group-btn"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button></span>
      </div>
    </form>

	</div>
</nav>
