<section class="row" data-ng-controller="AuthenticationController">
	<div class="col-md-12 text-center">
		<a href="/auth/facebook" class="undecorated-link">
			<img src="/modules/users/img/buttons/facebook.png">
		</a>
		<a href="/auth/twitter" class="undecorated-link">
			<img src="/modules/users/img/buttons/twitter.png">
		</a>
		<a href="/auth/google" class="undecorated-link">
			<img src="/modules/users/img/buttons/google.png">
		</a>
		<!--<a href="" class="hidden-xs" data-ng-click="login()" class="undecorated-link">
			<img src="/modules/users/img/buttons/email.png">
		</a>-->
	</div>
</section>
