'use strict';

module.exports = {
	app: {
		title: 'Identifi',
		description: 'Address book with trust ratings. Link all your identifiers and profiles, get verified and use the same trusted identity on any site or situation.',
		keywords: 'identity, trust, reputation, WoT, web of trust'
	},
	port: process.env.PORT || 3000,
	templateEngine: 'swig',
	sessionSecret: 'MEAN',
	sessionCollection: 'sessions',
	assets: {
		lib: {
			css: [
				'public/lib/bootstrap/dist/css/bootstrap.css',
				'public/lib/bootstrap/dist/css/bootstrap-theme.css',
				'public/lib/font-awesome/css/font-awesome.css',
				'public/lib/bootstrap-social/bootstrap-social.css',
				'public/lib/seiyria-bootstrap-slider/css/bootstrap-slider.css',
				'public/lib/allmighty-autocomplete/style/autocomplete.css',
				'public/lib/animate.css/animate.css'
			],
			js: [
				'public/lib/jquery/dist/jquery.js',
				'public/lib/angular/angular.js',
        'public/lib/allmighty-autocomplete/script/autocomplete.js',
				'public/lib/angular-resource/angular-resource.js', 
				'public/lib/angular-cookies/angular-cookies.js', 
				'public/lib/angular-animate/angular-animate.js', 
				'public/lib/angular-touch/angular-touch.js', 
				'public/lib/angular-sanitize/angular-sanitize.js', 
				'public/lib/angular-ui-router/release/angular-ui-router.js',
				'public/lib/angular-ui-utils/ui-utils.js',
				'public/lib/angular-bootstrap/ui-bootstrap-tpls.js',
				'public/lib/crypto-js/rollups/md5.js',
				'public/lib/ngInfiniteScroll/build/ng-infinite-scroll.js',
        'public/lib/angular-spinner/angular-spinner.js',
        'public/lib/spin.js/spin.js',
        'https://login.persona.org/include.js',
        'public/lib/angular-persona/angular-persona.js',
        'public/lib/angular-bootstrap-slider/slider.js',
        'public/lib/seiyria-bootstrap-slider/js/bootstrap-slider.js',
        'public/lib/angular-parallax/scripts/angular-parallax.js'
			]
		},
		css: [
			'public/modules/**/css/*.css'
		],
		js: [
			'public/config.js',
			'public/application.js',
			'public/modules/*/*.js',
			'public/modules/*/*[!tests]*/*.js'
		],
		tests: [
			'public/lib/angular-mocks/angular-mocks.js',
			'public/modules/*/tests/*.js'
		]
	}
};
